@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");
:root {
  --fs-3xsm: 10px;
  --fs-2xsm: 12px;
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 24px;
  --fs-xl: 28px;
  --fs-xxl: 36px;

  /*---------------colors--------- */
  --color-grey: rgba(28, 29, 36, 1);
  --color-darkblack: #0d0d0d;
  --color-black: #111;
  --color-darkblue: rgba(0, 33, 144, 1);
  --color-blue: rgba(53, 87, 195, 1);
  --color-darkgrey: #111111;
  --color-lightgrey: rgba(109, 125, 147, 1);
}
.fs_3xsm {
  font-size: var(--fs-3xsm);
}
.fs_2xsm {
  font-size: var(--fs-2xsm);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xxl {
  font-size: var(--fs-xxl);
}

.color_grey {
  color: var(--color-grey);
}
.bg_darkblack {
  background-color: var(--color-darkblack);
}
.bg_black {
  background-color: var(--color-black);
}
.color_blue {
  color: var(--color-blue);
}
.bg_blue {
  background-color: var(--color-darkblue);
}
.bg_darkgrey {
  background-color: var(--color-darkgrey);
}
.bg_grey {
  background-color: var(--color-grey);
}
.ff_dmsans {
  font-family: "DM Sans";
}
.color_lightgrey {
  color: var(--color-lightgrey) !important;
}
